body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(../images/wp6223089.jpg); 
    background-size: cover;
    background-position: center;
    color: whitesmoke; 
}

h1 {
    font-size: 36px;
    text-align: center;
    padding-top: 100px; 
    background-color: linear-gradient(to right, 
    red, blue, rgb(6, 174, 183), rgb(189, 14, 189));
-webkit-background-clip: text;
background-clip: text;
color: transparent;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #ff0000; 
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    color: white;
    border: none;        
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #cc0000; 
}

.white-box {
width:80%;
margin: 0 auto;
height: 80vh;
background-color: darkblue;
text-align: center;
font-size: 24px;
}

.ak-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}