body {
    margin: 0;
    padding: 0;
    background-image: url(../images/flat-design-blue-comic-style-background_23-2148797743.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 36px;
    text-align: center;
    background-image: linear-gradient(to right, 
    red, blue, rgb(6, 174, 183), rgb(189, 14, 189));
-webkit-background-clip: text;
background-clip: text;
color: transparent; 
padding-bottom: 20px;
}

#quiz-container {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    height: 80vh;
    text-align: left;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

#imageDisplay{
    max-width: 100%;
    max-height: 100%; 
    width: auto;
    height: auto;
}

.question-container{
    text-align: center;
}